@use "global"as *;

.c-breadcrumb__list {
    max-width: 1160px;
    width: 100%;
    padding: 0 rem(21);
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.015em;

    @include mq(md) {
        padding: 0 rem(30);
    }
}

.c-breadcrumb__item {
    font-size: rem(16);
    display: inline;
    font-weight: $regular;
    text-transform: uppercase;
    line-height: rem(16);

    @include mq(md) {
        line-height: rem(45);
        letter-spacing: rem(0.7);
    }
}

.c-breadcrumb__item:after {
    content: ">";
    padding: 0 0.2em;
    color: #fff;
}

.c-breadcrumb__item:last-child:after {
    content: "";
}

.c-breadcrumb__item a {
    text-decoration: none;
    color: #fff;
}

.c-breadcrumb__item a:hover {
    @include mq(md) {
        text-decoration: underline;
    }
}