@use "global"as *;

.c-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: rem(335);
    padding: rem(9) 0;
    background-color: $text;
    border: 1px solid $white;
    font-size: rem(20);
    letter-spacing: rem(2);
    position: relative;
    overflow: hidden;
    z-index: 10;

    @include mq(md) {
        font-size: rem(16);
        padding: rem(17) 0;
        max-width: rem(360);
        transition: transform 0.3s ease-in-out;
    }
}

.c-btn::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.c-btn:hover {
    @include mq(md) {
        color: #333;
        transition: transform 0.3s ease-in-out;
    }
}

.c-btn:hover::before {
    @include mq(md) {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
}

.c-btn--white {
    color: $white;

    @include mq(md) {
        color: #333;
        background-color: $white;
        padding: rem(2) 0;
        letter-spacing: 0.01em;
    }
}

.c-btn--white::before {
    @include mq(md) {
        background-color: $text;
    }
}

.c-btn--white:hover {
    @include mq(md) {
        color: $white;
    }
}