@use "global"as *;

.c-category {
}


.c-category__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.c-category__item {
margin-left: rem(24);
margin-top: rem(16);
}
.c-category__item:first-child{
	margin-left: 0;
}


.c-category__link {
	display: inline-block;
	color: $white;
}

.c-category__link--current {
	color: $text;
	background-color: $white;
	padding: rem(3) rem(8);
}