@use "global"as *;

.c-page-top {
    width: rem(45);
    height: rem(45);
    position: fixed;
    bottom: rem(41);
    right: rem(21);
    z-index: 50;
    background-color: #fff;
    transition: background-color 0.3s;

    @include mq(md) {
        bottom: rem(27);
        right: rem(32);
    }
}

.c-page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    width: rem(17);
    height: rem(17);
    border-top: rem(3) solid $text;
    border-right: rem(3) solid $text;
    border-radius: rem(1.5);
    transform: translate(-50%, -50%) rotate(-45deg);

    @include mq(md) {
        top: 63%;
        left: 48%;
        width: rem(20);
        height: rem(20);
    }
}

.c-page-top:hover::before {
    @include mq(md) {
        border-top: rem(3) solid $white;
        border-right: rem(3) solid $white;
    }
}

.c-page-top:hover {
    @include mq(md) {
        background-color: $text;
    }
}