<%- include ('../component/_c-page-top') %>
</main>
<footer class="p-footer">
  <div class="p-footer__wrapper">
    <div class="p-footer__head">
      <div class="p-footer__logo">
        <%- include ('../component/_c-logo') %>
      </div>
      <!-- /.p-footer-logo -->
      <%- include ('../project/_p-footer-nav') %>
      <!-- /.p-footer-nav -->
    </div>
    <!-- /.p-footer__head -->
    <div class="p-footer__bottom">
      <p class="p-footer__copyright">&copy; 2021 CodeUps Inc.</p>
    </div>
    <!-- /.p-footer__bottom -->
  </div>
  <!-- /.p-footer__wrapper -->
</footer>
