<footer class="l-footer p-footer">
  <div class="p-footer__wrapper">
    <div class="p-footer__head">
      <div class="p-footer__logo">
        <a href="./">
          <%- include ('../component/_c-logo') %>
        </a>
      </div>
      <!-- /.p-footer-logo -->
      <%- include ('../project/_p-footer-nav') %>
      <!-- /.p-footer-nav -->
    </div>
    <!-- /.p-footer__head -->
    <div class="p-footer__bottom">
      <p class="p-footer__copyright">&copy; 2021 CodeUps Inc.</p>
    </div>
    <!-- /.p-footer__bottom -->
  </div>
  <!-- /.p-footer__wrapper -->
</footer>