<header class="p-header">
  <div class="p-header__inner">
    <h1 class="p-header__logo">
      <a href="./"> <%- include ('../component/_c-logo') %> </a>
    </h1>
    <div class="p-header__nav-pc u-desktop">
      <%- include ('../project/_p-pc-nav') %>
    </div>
    <!-- /.p-header__nav-pc -->
    <div class="p-header__nav-sp u-mobile">
      <%- include ('../project/_p-sp-nav') %>
    </div>
    <!-- /.p-header__nav-sp -->
    <%- include ('../component/_c-hamburger') %>
  </div>
  <!-- /.p-header__inner -->
</header>
