<header class="l-header p-header">
  <div class="p-header__inner">
    <h1 class="p-header__logo">
      <a href="./">
        <%- include ('../component/_c-logo') %>
      </a>
    </h1>
    <%- include ('../project/_p-pc-nav') %>
    <!-- /.p-header__nav-pc -->
    <%- include ('../project/_p-sp-nav') %>
    <!-- /.p-header__nav-sp -->
    <%- include ('../component/_c-hamburger') %>
  </div>
  <!-- /.p-header__inner -->
</header>