@use "global"as *;

.p-header {
	position: fixed;
	top: 0;
	height: rem(50);
	width: 100%;
	z-index: 999;
	background-color: rgba($color: $black, $alpha: 0.5);
}
/* スクロールしたらヘッダーメニューの背景カラー変更 */
.p-header.headerColorScroll {
	background-color: rgba($color: $black, $alpha: 1.0);
	transition: color 0.4s ease-out;
}

.p-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 rem(22);

	@include mq(md) {
		padding: 0;
	}
}

.p-header__logo {
	position: relative;
	z-index: 99;

	@include mq(md) {
		margin-left: rem(33);
		margin-top: rem(8);
	}
}