@use "global"as *;

.p-pc-nav {
	@include mq(md) {
		height: inherit;
	}
}

.p-pc-nav__items {
	@include mq(md) {
		height: inherit;
		display: flex;
		align-items: center;
	}
}

.p-pc-nav__item {
	@include mq(md) {
		height: inherit;
		margin-left: rem(30);
	}
}

.p-pc-nav__item a {
	@include mq(md) {
		position: relative;
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.p-pc-nav__item:not(:last-child) a::after {
	@include mq(md) {
		position: absolute;
		bottom: rem(13);
		left: 0;
		content: "";
		width: 100%;
		height: 1px;
		background: $underline-yellow;
		transform: scale(0, 1);
		transform-origin: left top;
		transition: transform 0.2s linear;
	}
}

.p-pc-nav__item:not(:last-child) a:hover::after {
	@include mq(md) {
		transform: scale(1, 1);
	}
}

.p-pc-nav__item:last-child {
	@include mq(md) {
		background-color: $white;
		width: rem(170);
		height: rem(50);
	}
}

.p-pc-nav__item:last-child a {
	@include mq(md) {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $text;
		line-height: 1;
		letter-spacing: 0.125em;
		width: inherit;
		height: inherit;
		position: relative;
		overflow: hidden;
		z-index: 1;
		opacity: 1;
	}
}

.p-pc-nav__item:last-child a:hover {
	@include mq(md) {
		color: $white;
	}
}

.p-pc-nav__item:last-child a::before {
	@include mq(md) {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		background-color: $text;
		transition: left 0.3s ease-in-out;
		z-index: -1;
	}
}

.p-pc-nav__item:last-child a:hover::before {
	@include mq(md) {
		left: 0;
	}
}