@use "global"as *;
.p-top-news__content {
    @include mq(md) {
        display: flex;
        align-items: center;
    }
}

.p-top-news__btn {
    margin-top: rem(27);
    text-align: center;
    @include mq(md) {
        width: 100%;
        max-width: rem(134);
        margin-top: 0;
        margin-left: auto;
        padding-top: rem(4);
    }
}