@use "global"as *;

.p-top-content {
    position: relative;
}

.p-top-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: rem(679);
    top: 0;
    left: 0;
    // background-color: #fff;
    background-image: linear-gradient(to right top, transparent 49.9%, #F9F871 50%, #F9F871 calc(50% + 1px), transparent calc(50.1% + 1px));
    z-index: -1;

    @include mq(md) {
        width: 94.6875%;
        height: rem(1212);
        top: rem(-107);
    }
}

.p-top-content__grid {
    margin-top: rem(48);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    @include mq(md) {
        display: flex;
        justify-content: center;
        margin-top: rem(42);
    }
}

.p-top-content__box {
    max-width: rem(320);
    width: 100%;
    position: relative;
}

.p-top-content__box:nth-child(odd) {
    margin-left: auto;

    @include mq(md) {
        margin-left: 0;
    }
}

.p-top-content__box:nth-child(even) {
    margin-right: auto;

    @include mq(md) {
        margin-right: 0;
    }
}

.p-top-content__link {
    display: block;
}

.p-top-content__img {
    max-width: rem(320);
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 89.36170213%;

    @include mq(md) {
        padding-top: 100%;
    }
}

.p-top-content__img::after {
    @include mq(md) {
        content: "";
        display: block;
        background: rgba($color: #fff, $alpha: 0.6);
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

.p-top-content__img:hover::after {
    @include mq(md) {
        opacity: 1;
    }
}

.p-top-content__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.p-top-content__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 2;
}

.p-top-content__text p {
    font-size: rem(20);
    letter-spacing: rem(2);

    @include mq(md) {
        font-size: rem(25);
    }
}