@use "global"as *;

.p-works-detail {}

.p-works-detail__inner {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;

  @include mq(md) {
    max-width: 800px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-works-detail__gallery {
 width: 100%;
 margin-top: rem(16);
 margin-left: auto;
 margin-right: auto;

 @include mq(md) {
   max-width: rem(800);
   margin-top: rem(32);
 }
}

.p-works-detail__points{
  margin-top: rem(55);
  @include mq(md) {
    margin-top: rem(71);
  }
}