@use "global" as *;
.section-title {
  font-size: rem(20);
  letter-spacing: rem(2);
  text-align: center;
  position: relative;
  @include mq(md) {
    font-size: rem(30);
  }
}

.section-title.section-title--left {
  @include mq(md) {
    text-align: left;
  }
}

.section-title.section-title--contact {
  font-size: rem(25);
  @include mq(md) {
    font-size: rem(30);
  }
}

.section-title__sub {
  font-size: rem(20);
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.02em;
  }
}

.section-title--content::before {
  content: "content";
  text-transform: capitalize;
  display: block;
  font-size: rem(50);
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  font-family: $second-font-family;
  font-weight: $regular;
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    font-size: rem(110);
    top: 88%;
    left: 24%;
    transform: translate(-50%, -50%);
  }
}

.section-title--works::before {
  content: "works";
  text-transform: capitalize;
  display: block;
  font-size: rem(50);
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  font-family: $second-font-family;
  font-weight: $regular;
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    font-size: rem(110);
    top: 70%;
    left: 80%;
    transform: translate(-52%, -51%);
  }
}

.section-title--overview::before {
  content: "overview";
  text-transform: capitalize;
  display: block;
  font-size: rem(50);
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  font-family: $second-font-family;
  font-weight: $regular;
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    font-size: rem(110);
    top: 65%;
    left: 27%;
    transform: translate(-49%, -50%);
  }
}

.section-title--blog::before {
  content: "blog";
  text-transform: capitalize;
  display: block;
  font-size: rem(50);
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  font-family: $second-font-family;
  font-weight: $regular;
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    font-size: rem(110);
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
  }
}

.section-title--contact::before {
  content: "contact";
  text-transform: capitalize;
  display: block;
  font-size: rem(50);
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  font-family: $second-font-family;
  font-weight: $regular;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    font-size: rem(110);
    top: 57%;
    left: 48%;
    transform: translate(-125%, -70%);
  }
}
