<div class="p-blog">
	<div class="p-blog__tab">
		<%- include('../component/_c-category') %>
	</div>
	<div class="p-blog__cards">
		<%- include('../project/_p-cards',{max:9,articleCards:'topCards'})%>
	</div>
	<div class="p-blog__pagenavi">
		<%- include('../component/_c-pagenavi') %>
	</div>
</div>