<%- include('../component/_c-breadcrumb',{pageTitle:'ブログ',detailTitle:''}) %>
    <%- include('../component/_c-category') %>
        <%- include('../project/_p-cards',{max:9,articleCards:'topCards'})%>
            <div class="p-blog__pagenav">
                <%- include('../component/_c-pagenavi') %>
            </div>