<%- include('../component/_c-breadcrumb',{pageTitle:'ブログ記事一覧',detailTitle:''}) %>
<%- include('../component/_c-category') %>
<%- include('../project/_p-cards',{max:9,articleCards:'topCards'})%>
<div class="l-pagenavi">
	<%- include('../component/_c-pagenavi') %>
</div>