<section class="p-common-contact">
  <div class="p-common-contact__inner l-inner">
    <div class="p-common-contact__header">
      <%- include
      ('../component/_c-title',{japanese_title:'お問い合わせ',english_title:'contact'})
      %>
    </div>
    <p class="p-common-contact__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <div class="p-common-contact__btn">
      <%- include ('../component/_c-btn',{link:'./',text:'お問い合わせ'}) %>
    </div>
  </div>
  <!-- /.p-common-contact__inner -->
</section>
