<%# 例）include('./project/_p-detail-title',{company_name:'CodeUps株式会社'},date:'2020/06/13' category:'カテゴリ') %>

    <div class="works01__wrapper p-detail-title">
        <h1 class="p-detail-title__title">
            <%= company_name %>様 制作実績</h1>
        <div class="p-detail-title__box">
            <div class="p-detail-title__date">
                <p>
                    <%= date %>
                </p>
            </div>
            <div class="p-detail-title__category">
                <%= category %>
            </div>
        </div>
    </div>