<div class="p-recommend-post">
  <div class="l-inner">
    <%- include ('../component/_c-title-list') %>
    <div class="p-recommend-post__items">
      <%- include ('../project/_p-cards',{max:4,articleCards:'recommendCards'}) %>
    </div>
  </div>
</div>