<div class="p-related-article">
  <div class="p-related-article__inner">
    <%- include('../component/_c-title-list')  %>
    <div class="p-related-article__items">
       <%- include ('../project/_p-cards',{max:4,articleCards:'recommendCards'}) %>
    </div>
  </div>
</div>