<%# 例）include('./project/_p-section-header',{section_name:'news',title:'お知らせ'}) %>

    <section class="p-section-header p-section-header--<%= section_name %>">
        <div class="p-section-header__box title">
            <h1 class="p-section-header__title">
                <%= title %>
            </h1>
        </div>
    </section>