<%# 例）include('./project/_p-sub-hero',{section_name:'news',title:'お知らせ'}) %>

    <section class="p-sub-hero p-sub-hero--<%= section_name %>">
        <div class="p-sub-hero__box title">
            <h1 class="p-sub-hero__title">
                <%= title %>
            </h1>
        </div>
    </section>