<div class="l-inner">
  <div class="p-sub-content">
    <div class="p-sub-content__box">
      <h2 class="p-sub-content__title">企業理念</h2>
      <p class="p-sub-content__text">
        説明が入ります。説明が入ります。説明が入ります。説明が入ります。
        説明が入ります。説明が入ります。説明が入ります。説明が入ります。
      </p>
    </div>
    <div class="p-sub-content__item">
      <%- include('../project/_p-content-item',{title:'企業理念1'})%>
    </div>
  </div>
</div>
