<div class="p-sub-content">
  <div class="p-sub-content__box">
    <h2 class="p-sub-content__title">企業理念</h2>
    <p class="p-sub-content__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
  </div>
  <div class="p-sub-content__item">
    <%- include('../project/_p-content-item')%>
  </div>
</div>
