<%- include('../component/_c-title',{japanese_title:'事業内容', english_title:'content'}) %>
    <div class="p-top-content__grid">
        <div class="p-top-content__box">
            <a class="p-top-content__link" href="./content.html" title="経営者理念">
                <div class="p-top-content__img">
                    <img src="./images/content/top-content01.jpg" alt="経営理念ページへ" title="経営理念ページ" />
                    <div class="p-top-content__text">
                        <p>経営理念ページへ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-top-content__box">
            <a class="p-top-content__link" href="./content.html" title="理念１">
                <div class="p-top-content__img">
                    <img src="./images/content/top-content02.jpg" alt="理念1へ" title="理念1へ" />
                    <div class="p-top-content__text">
                        <p>理念1へ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-top-content__box">
            <a class="p-top-content__link" href="./content.html" title="理念２">
                <div class="p-top-content__img">
                    <img src="./images/content/top-content03.jpg" alt="理念2へ" title="理念2へ" />
                    <div class="p-top-content__text">
                        <p>理念2へ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="p-top-content__box">
            <a class="p-top-content__link" href="./content.html" title="理念３">
                <div class="p-top-content__img">
                    <img src="./images/content/top-content04.jpg" alt="理念3へ" title="理念3へ" />
                    <div class="p-top-content__text">
                        <p>理念3へ</p>
                    </div>
                </div>
            </a>
        </div>
    </div>