<div class="p-top-news">
  <div class="p-top-news__inner l-inner">
    <div class="p-top-news__content">
      <%- include ('../component/_c-news-post',{newsTitle:'newsTop'}) %>
      <div class="p-top-news__btn">
        <%- include('../component/_c-btn',{text:'すべて見る', link:'#', backColor:'white'}) %>
      </div>
    </div>
  </div>
  <!-- /.p-top-news__inner -->
</div>