<% var position = { LorR: 'R' } %>
    <div class="p-top-blog">
        <div class="p-top-blog__inner l-inner">
            <div class="p-top-blog__title">
                <%- include('../component/_c-title',{japaneseTitle:'ブログ',
      englishTitle:'blog',enTitle: position}) %>
            </div>
            <div class="p-top-blog__item">
                <%- include('../project/_p-cards',{max:3,articleCards:'topCards'}) %>
            </div>
            <div class="p-top-blog__btn">
                <%- include('../component/_c-btn',{link:'./blog.html',
      text:'詳しく見る',backColor:'black'}) %>
            </div>
        </div>
    </div>