<ul class="p-works-points">
  <li class="p-works-points__item">
    <%- include ('../component/_c-detail-point',{pointTitle:'制作のポイント',pointText:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
  </li>
  <li class="p-works-points__item">
    <%- include ('../component/_c-detail-point',{pointTitle:'デザインのポイント',pointText:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
  </li>
  <li class="p-works-points__item">
    <%- include ('../component/_c-detail-point',{pointTitle:'その他',pointText:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
  </li>
</ul>