<div class="p-works-detail">
  <div class="p-works-detail__inner">
    <div class="p-works-detail__title">
      <%- include ('../component/_c-article-title01',{companyName:'CodeUps株式会社',date:'2020/06/13',category:'カテゴリ'}) %>
    </div>
  </div>

  <div class="p-works-detail__gallery">
    <%- include ('../project/_p-works-gallery') %>
  </div>
  
  <div class="p-works-detail__inner">
    <div class="p-works-detail__points">
      <%- include ('../project/_p-works-points') %>
    </div>
    <div class="l-pagenavi-string">
      <%- include ('../component/_c-pagenavi-string') %>
    </div>
  </div>
</div>