<%# 例）include('./project/_c-article-title01',{title:'CodeUps株式会社様 制作実績',date:'2020/06/13', category:'カテゴリ'}) %>

    <div class="c-article-title01">
        <h1 class="c-article-title01__title">
            <%= title %></h1>
        <div class="c-article-title01__box">
            <div class="c-article-title01__date">
                <p>
                    <%= date %>
                </p>
            </div>
            <div class="c-article-title01__category">
                <%= category %>
            </div>
        </div>
    </div>