<% let array = [ 
  { num: '・', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '・', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '・', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '・', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
 ];%>
 
<%  array.forEach(function (value) { %>
<p class="c-blog-list01"><%= value.num %><%= value.text %></p>
<% }); %>

