<% let array = [ 
  { num: '1', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '2', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '3', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
  { num: '4', text: 'リストが入ります。リストが入ります。リストが入ります。リストが入ります。' },
 ];%>
 
<%  array.forEach(function (value) { %>
<p class="c-blog-list02"><%= value.num %><%= value.text %></p>
<% }); %>