<div class="c-category">
  <div class="c-category__inner">
    <ul class="c-category__items">
      <li class="c-category__item">
        <a class="c-category__link c-category__link--current" href="#">ALL</a>
      </li>
      <li class="c-category__item">
        <a href="#" class="c-category__link">カテゴリ１</a>
      </li>
      <li class="c-category__item">
        <a href="#" class="c-category__link">カテゴリカテゴリ</a>
      </li>
      <li class="c-category__item">
        <a href="#" class="c-category__link">カテ</a>
      </li>
    </ul>
  </div>
</div>