<%  let urlCard = "./images/blog/blog0" %>
<%# 通常のカードの場合 %>
<% if( articleCard == 'topCard') { %>
<a href="#" class="c-card">
  <figure class="c-card__thumb">
    <img src="<%= urlCard %><%= num + 1 %>.jpg" alt="" />
  </figure>
  <div class="c-card__body">
    <h3 class="c-card__title">
      タイトルが入ります。タイトルが入ります。
    </h3>
    <p class="c-card__text">
      説明文が入ります。説明文が入ります。説明文が入ります。
    </p>
    <div class="c-card__info">
      <span class="c-card__category">カテゴリ</span>
      <time class="c-card__date" datetime="2021-07-20">2021.07.20</time>
    </div>
  </div>
</a>
<%# 関連記事の場合 %>
<% } else if( articleCard == 'recommendCard') { %>
<a href="#" class="c-card">
  <figure class="c-card__thumb c-card__thumb--recommend">
    <img src="<%= urlCard %><%= num + 1 %>.jpg" alt="" />
  </figure>
  <div class="c-card__body c-card__body--recommend">
    <h3 class="c-card__title c-card__title--recommend">
      タイトルが入ります。タイトルが入ります。
    </h3>
      <div class="c-card__info">
      <span class="c-card__category">カテゴリ</span>
      <time class="c-card__date" datetime="2021-07-20">2021.07.20</time>
    </div>
  </div>
</a>
<% } %>