<a href="#" class="c-card">
  <figure class="c-card__thumb">
    <img src="./images/" alt="" />
  </figure>
  <div class="c-card__body">
    <h3 class="c-card__title">
      タイトルが入ります。タイトルが入ります。
    </h3>
    <p class="c-card__text">
      説明文が入ります。説明文が入ります。説明文が入ります。
    </p>
    <div class="c-card__info">
      <span class="c-card__category">カテゴリ</span>
      <time class="c-card__date" datetime="2021-07-20">2021.07.20</time>
    </div>
  </div>
</a>