<div class="c-detail-point">
  <h3 class="c-detail-point__title"><%= point_title %></h3>
  <p class="c-detail-point__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
</div>