<%# 例）include('../component/_c-news-post',{news:'newsTop'}) %>
<div class="c-news-post">
  <a class="c-news-post__link" href="#">
    <div class="c-news-post__info">
      <time class="c-news-post__date" datetime="2021-07-20">2020.07.20</time>
      <span class="c-news-post__category">お知らせ</span>
    </div>
    <%# トップページの場合 %>
    <% if( newsTitle == 'newsTop') { %>
    <div class="c-news-post__text c-news-post__text--top">
      記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    </div>
    <%# 下層ページの場合 %>
    <% } else if( newsTitle == 'newsPage') { %>
    <div class="c-news-post__text c-news-post__text--page">
      記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    </div>
    <% } %>
  </a>
</div>