<div class="c-news-post">
  <a class="c-news-post__link" href="#">
    <div class="c-news-post__info">
      <time class="c-news-post__date" datetime="2021-07-20">2020.07.20</time>
      <span class="c-news-post__category">お知らせ</span>
    </div>
    <div class="c-news-post__text">
      記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    </div>
  </a>
</div>