<div class="c-paginavi">
  <div class="wp-pagenavi" role="navigation">
    <a href="#" class="previouspostslink" rel="prev">PREV</a>
    <span aria-current="page" class="current">1</span>
    <a class="page larger" title="Page 2" href="#">2</a>
    <a class="page larger" title="Page 3" href="#">3</a>
    <a class="page larger" title="Page 4" href="#">4</a>
    <a href="#" class="nextpostslink" rel="next">NEXT</a>
  </div>
</div>