<div class="c-pagenavi-string">
  <div class="c-pagenavi-string__prev">
    <a href="#" rel="prev">PREV</a>
  </div>
  <div class="c-pagenavi-string__list">
    <a href="#">一覧</a>
  </div>
  <div class="c-pagenavi-string__next">
    <a href="#" rel="next">NEXT</a>
  </div>
</div>